@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #030817;
    --primary: #141a2f;
    --primary-foreground: #f8fafc;
    --secondary: #263351;
    --secondary-foreground: #dbe9f6;
    --card: #f9fafb;
    --card-foreground: #030817;
    --popover: #fcfcfd;
    --popover-foreground: #020817;
    --muted: #dde0e3;
    --muted-foreground: #4a5769;
    --accent: #e0e6eb;
    --accent-foreground: #0f1729;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --success: #54a654;
    --success-foreground: #f8fafc;
    --primary-button: var(--secondary);
    --primary-button-foreground: #f8fafc;
    --secondary-button: #36496a;
    --secondary-button-foreground: #fcfcfd;
    --border: #b3bfcc;
    --input: #4f5761;
    --ring: #030817;
    --circuit-background: #b8b8b8;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0e1321;
    --foreground: #f7fafc;
    --primary: #141a2f;
    --primary-foreground: #f8fafc;
    --secondary: #ffd260;
    --secondary-foreground: #504416;
    --card: #141b2d;
    --card-foreground: #f8fafc;
    --popover: var(--primary);
    --popover-foreground: var(--primary-foreground);
    --muted: #26344a;
    --muted-foreground: #acb8ca;
    --accent: #26344a;
    --accent-foreground: #f7fafc;
    --destructive: #e74747;
    --destructive-foreground: #f8fafc;
    --success: #418141;
    --success-foreground: #f8fafc;
    --primary-button: #1a2640;
    --primary-button-foreground: #faf9f9;
    --secondary-button: #fad780;
    --secondary-button-foreground: #564b31;
    --border: #2b3a50;
    --input: #26344a;
    --ring: #cbd5e1;
    --circuit-background: #000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .skeleton {
    @apply bg-gray-200 dark:bg-primary rounded-md relative isolate overflow-hidden;
    @apply before:absolute before:inset-0;
    @apply before:-translate-x-full before:animate-shimmer before:animate-[shimmer_2s_infinite];
    @apply before:bg-gradient-to-r before:from-transparent before:via-rose-100/10 before:to-transparent;
  }

  .skeleton-card {
    @apply skeleton border-border border;
  }

  .dark-hero-gradient {
    background: linear-gradient(90deg, #697ceb 0%, #6a61eb 100%);
  }

  .light-hero-gradient {
    background: linear-gradient(90deg, #939dec 0%, #8d90e5 100%);
  }

  .mask-gradient {
    mask-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 90%);
  }
}
