@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 5% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 216 10% 94.4%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 220 3% 99%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 45% 15%;
    --primary-foreground: 210 40% 98%;

    --secondary: 222.2 45% 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 216 10% 88%;
    --muted-foreground: 215.4 16.3% 35%;

    --accent: 210 20% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 120 33% 49%;
    --success-foreground: 210 40% 98%;

    --primary-button: 218 40% 13%;
    --primary-button-foreground: 210 40% 98%;

    --secondary-button: 218 40% 25%;
    --secondary-button-foreground: 210 40% 98%;

    --border: 210 20% 75%;
    --input: 214.3 10% 35%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    --circuit-background: #b8b8b8;
    --hero-background: linear-gradient(
      to bottom,
      rgb(215, 220, 255) 0%,
      rgb(234, 239, 255) 50%,
      transparent 100%
    );
  }

  .dark {
    --background: 222.2 30% 6%;
    --foreground: 210 40% 98%;

    --card: 222.2 50% 9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 50% 9%;
    --popover-foreground: 210 40% 98%;

    --primary: 222.2 45% 10.5%;
    --primary-foreground: 210 40% 98%;

    --secondary: 43 98% 66%;
    --secondary-foreground: 47 90% 16%;

    --muted: 217.2 32.6% 22%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 22%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 65% 50%;
    --destructive-foreground: 210 40% 98%;

    --success: 120 33% 38%;
    --success-foreground: 210 40% 98%;

    --primary-button: 222.2 45% 16%;
    --primary-button-foreground: 210 40% 98%;

    --secondary-button: 43 100% 75%;
    --secondary-button-foreground: 47 90% 16%;

    --border: 217.2 32.6% 22%;
    --input: 217.2 32.6% 22%;
    --ring: 212.7 26.8% 83.9%;

    --circuit-background: #000;
    --hero-background: linear-gradient(
      to bottom,
      rgba(81, 73, 196, 0.55) 0%,
      rgba(33, 39, 80, 0.8) 50%,
      transparent 100%
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .loading-skeleton {
    @apply bg-primary rounded-md relative border-border border isolate overflow-hidden;
    @apply before:absolute before:inset-0;
    @apply before:-translate-x-full before:animate-shimmer before:animate-[shimmer_2s_infinite];
    @apply before:bg-gradient-to-r before:from-transparent before:via-rose-100/10 before:to-transparent;
  }
}
