/* styles.css */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    width: 300px;
    /* Adjust the width as needed */
}

.thumbnail-container {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.thumbnail-container img {
    width: auto;
    height: 100%;
    margin: auto;
}

.card h2 {
    font-size: 18px;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-5px);
}



.light .card {
    background-color: #033B5E;
    color: white;
    box-shadow: 0 4px 6px  #7453008c;
}

.light .card:hover {
    box-shadow: 0 6px 8px  #6d4e00;
}


.dark .card {
    background-color: #005596;
    color: white;
    box-shadow: 0 4px 6px  #fdcd538c;
}

.dark .card:hover {
    box-shadow: 0 6px 8px  #FDCD53;
}

@media (min-width: 640px) {
    .cards-container {
      justify-content: space-between;
    }
  
    .card {
      width: calc(50% - 20px);
      max-width: 300px;
    }
  }